/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body - Adds slight border around form to hide sharp edges of extention popup */
body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(120deg,#2980b9, #8e44ad);*/
}



  #editor {
    width: 98%;
    height: 600px;
    font-size: 14px;
    border: none;
    background: white;
    outline: none;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: 500px;
  }