/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body - Adds slight border around form to hide sharp edges of extention popup */
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100%;
    overflow: hidden;
}

/* app-container - Adds backround to the form with slight border radius */
.app-container{
    width: 25rem;
    background: white;
}

/* popup-title - Centers title and changes font+color */
.popup-title{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

/* form-warp - Changes box sizing and adds padding left and right */
.form-wrap{
    padding: 0 40px;
    box-sizing: border-box;
}

/* input-wrap - Adds underline to input field */
.input-wrap{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}


/* input - removes border and background from input feild */
.input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

/* input-label - Label is moved -50% to allow for animation to move out of way when selected */
.input-label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

/* animation-utilities - Should help with the animation but its broken :) */
.anim-util::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

/* Broken, Take a look at the selectors? Could be causing the issues @Ben */
.input:focus + .input-label,
.input-label{
  top: -5px;
  color: #2691d9;
}
.input:focus + .anim-util::before,
.anim-util::before{
  width: 100%;
}

/* h4 */
h4 {
  width: 100%;
  padding: 0 10%;
  height: 40px;
  font-size: 14px; 
  text-align:center;
}


/* form-btn-1 - Save and Load Buttons, half the size of the Copy button */
.form-btn-1{
  width: 49%;
  height: 50px;
  margin-bottom: 1rem;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.form-btn-1:hover{
  border-color: #2691d9;
  transition: .5s;
}

/* form-btn-2 - Copy button, full 100% width */
.form-btn-2{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.form-btn-2:hover{
  border-color: #2691d9;
  transition: .5s;
}

.form-btn-2{
    margin-bottom: 1rem;
}

.hideme {
  display: none;
}