/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

html {
  height: 590px;
  width: 780px;
}

.hideme {
  display: none !important;
}